* {
    background-color: rgb(195, 190, 190);
    margin: 0px;
}
#title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 171, 219);
    font-family: cursive; 
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
}
.playerVsCpu {
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-bottom: 50px;
}
.pt {
    font-family: cursive;
    font-size: 35px;
    
}
.play {
    display: flex;
    justify-content: center;
    gap: 35px;
    
}
.pick {
    display: flex;
    justify-content: center;
    background-color: rgb(195, 190, 190);
    width: 150px;
    height: 150px;
    
}
.pScore, .CpScore {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 20px;
}
.result {
    display: flex;
    justify-content: center;
    font-family: cursive ;
    font-size: 40px;
    margin-top: 70px;
}
.final-container {
    display: flex; 
    justify-content: center;
    margin-top: 70px;
}   
.final {
    font-size: 80px;
    background-color: rgb(12, 171, 219);
}

